{% extends "layout.html" %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}

    <div class="jumbotron jumbotronPadding">
    <h1 class="theme-heading">Active Experiments</h1>
        <div class="row rowSpacing">
            <ul class="list-group">
                {% for exp in exps %}
                <li class="list-group-item timerTime"><a href="{{ url_for('experiment', experimentID=exp|string) }}"> Experiment {{exp}} </a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="rowSpacing">
            <a class="btn btn-block btn-lg btn-primary" href="{{ url_for('init') }}">Setup New Experiment</a>
        </div>
    </div>

{% endblock %}