{% extends "layout.html" %}

{% block head %}
<title>Experiment Setup</title>
{% endblock %}

{% block body %}
<div hidden="hidden" id="personCollectionTemplate">
  <div class="row personLabel" style="text-align: center;">Person $$ i $$</div>
  <div class="row rowSpacing"><image class="person centeredBlock" src="/static/images/person.png"></image></div>
  <div class="row rowSpacing centeredBlock">
    <label class="control-label col-sm-2 centeredBlock" for="person$$ i $$Age">Age:</label>
    <div class="col-sm-10">
      <input type="number" class="form-control personEntry centeredBlock" id="person$$ i $$Age" name="person$$ i $$Age" required autocomplete="off" min="1" max="100">
    </div>
  </div>
  <div class="row centeredBlock inputRowSpace">
    <label class="control-label col-sm-2 centeredBlock" for="person$$ i $$Gender">Gender:</label>
    <div class="col-sm-10">
      <select class="form-control personEntry centeredBlock" id="person$$ i $$Gender" name="person$$ i $$Gender" required>
        <option>M</option><option>F</option><option>N</option>
      </select>
    </div>
  </div>
</div>

<div class="jumbotron jumbotronPadding">
	<h1 class="theme-heading">Experiment Initialization</h1>

	<form class="form-horizontal" role="form" id="dataForm" method="post" action="{{ url_for('setupExperiment') }}" autocomplete="off">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group has-feedback">
					<label class="control-label col-sm-4" for="experimentName">Experiment Name:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="experimentName" name="experimentName" required autocomplete="off">
					</div>
			    </div>
			</div>
			<div class="col-sm-6">
				<div class="form-group has-feedback">
					<label class="control-label col-sm-4" for="timeGroup">Time Slot:</label>
					<div class="col-sm-8">
						<select class="form-control" id="timeGroup" name="timeGroup" required>
							{% for i in range(8, 13) %}
								{% for j in range(0, 60, 15) %}
									{% if j == 0 %}
										<option>{{i}}:00 AM</option>
									{% else %}
										<option>{{i}}:{{j}} AM</option>
									{% endif %}
								{% endfor %}
							{% endfor %}
							{% for i in range(12, 4) %}
								{% for j in range(0, 60, 15) %}
									{% if j == 0 %}
										<option>{{i}}:00 PM</option>
									{% else %}
										<option>{{i}}:{{j}} PM</option>
									{% endif %}
								{% endfor %}
							{% endfor %}
							<!-- NOTE THIS SHOULD BE POPULATED FROM A LIST FROM THE BACKEND -->
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<label class="control-label col-sm-4" style="padding-left: 0">
						Number of participants:
				</label>
				<div class="form-group col-sm-8">
					<input type="number" class="form-control rightBlock finalTime" name="numPeople" id="numPeople" autocomplete="off" value="5" min="1" max="12">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group has-feedback">
					<label class="control-label col-sm-offset-1 col-sm-4 rightBlock" style="padding-left: 0">
						Manual Time:
					</label>
					<div class="form-group col-sm-8">
						<input type="number" class="form-control rightBlock finalTime" name="timeGroupMins" id="timeGroupMins" autocomplete="off" min="0" max="23">
						<span class="colon"> : </span>
						<input type="number" class="form-control rightBlock finalTime" name="timeGroupSecs" id="timeGroupSecs" autocomplete="off" min="0" max="59">
					</div>
				</div>
			</div>
		</div>

    <div class="row rowSpacing" id="personCollectionRow">
		</div>

		<div class="row centeredBlock rowSpacing">
			<div class="col-sm-1"></div>
			<div class="col-sm-3">
				<div class="row">
					<label class="control-label col-sm-5" style="text-align:left;" for="group">Group:</label>
					<div class="col-sm-7">
						<select class="form-control rightBlock" id="group" name="group" required>
							<option>Assigned</option><option>Chosen</option>
						</select>
					</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-7" style="text-align:left;" for="outlier">Outlier group:</label>
					<div class="col-sm-5">
						<select class="form-control rightBlock" id="outlier" name="outlier" required>
							<option>Yes</option><option>No</option>
						</select>
					</div>
				</div>
				<div class="row">
					<label class="control-label col-sm-7" style="text-align:left;" for="friendship">Friendship Level:</label>
					<div class="col-sm-5">
						<input type="number" class="form-control rightBlock" id="friendship" name="friendship" required autocomplete="off" min="1" max="10">
					</div>
				</div>
			</div>
			<div class="col-sm-7">
				<label class="control-label col-sm-1 leftBlock" for="notes">Notes:</label>
				<div class="col-sm-11">
					<textarea class="form-control centeredBlock" rows="5" id="notes" name="notes" autocomplete="off"></textarea>
				</div>
			</div>
			<div class="col-sm-1"></div>
		</div>

		<button type="submit" form="dataForm" class="btn btn-block btn-lg btn-primary rowSpacing">Setup Experiment</button>

	</form>

</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/initialize.js') }}"></script>
{% endblock %}