<!doctype html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="format-detection" content="telephone=no"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=Edge;"/>
<link rel="shortcut icon" href=""/>

<!-- Bootstrap core CSS -->
<!-- not compressed<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet"/>-->
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Bootstrap theme -->
<link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

<link href="/static/css/initTheme.css" rel="stylesheet">

<title>Experiment Setup</title>


<!-- <h1>Hello World!</h1> -->

<body role="document">
	<div class="container theme-showcase" role="main">
			<div class="jumbotron">

				<h1 class="theme-heading">Experiment Initialization</h1>
				<!--<p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>-->

				<form class="form-horizontal" role="form">

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group has-feedback">
								<label class="control-label col-sm-3" for="timeGroup">Time Slot:</label>
								<div class="col-sm-9">
									<select class="form-control" id="timeGroup" required>
										<option>12:00 PM</option>
										<option>2:45 PM</option>
										<!-- NOTE THIS WILL BE POPULATED FROM THE BACKEND -->
									</select>
								</div>
						    </div>
						</div>
						<div class="col-sm-6">
							<div class="form-group has-feedback">
								<label class="control-label col-sm-4" for="annotatorName">Annotator Name:</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="annotatorName" required>									
								</div>
						    </div>
						</div>
					</div>

					<div class="row">
					
					</div>

				</form>

			</div>
    </div> <!-- /container -->
</body>