{% extends "layout.html" %}

{% block head %}
<title>Results</title>
{% endblock %}

{% block body %}
<div class="jumbotron jumbotronPadding">
	<h1 class="theme-heading">Team Results</h1>
	<div class="row">
	</div>
	<div class="row">
	</div>
	<div class="row">
	<label class="control-label col-sm-1 leftBlock" for="notes">Notes:</label>
		<div class="col-sm-11">
			<textarea class="form-control centeredBlock" rows="5" id="notes" autocomplete="off"></textarea>
		</div>
	</div>
</div>
{% endblock %}